{% extends "base.html" %}
        {% block content %}
        <section class="banner">
            <div class="banner-content">
                <h1>Музей речей</h1>
                {% if user %}
                <h2>Вітаємо, {{ user }}!</h2>
                {% else %}
                <h2>Вітаємо у нашому музеї!</h2>
                {% endif %}
                <p>Збережи пам’ять про речі, що мають душу</p>
            </div>
        </section>

        <section class="gallery">
            <h2>Галерея</h2>
            <section class ="galleryContainer">
        <!-- тимчасово -->
                
                <div class="photoCardTemplateDiv">
                    <div class="photoCardImageContainer">
                        <img src="../static/img/10.jpg" alt="Photo" class="photoCardImage">
                    </div>
                    <div class="photoCardDescriptionContainer">
                        <p class="photoCardDescriptionText"></p>
                    </div>
                </div>
                <div class="photoCardTemplateDiv">
                    <div class="photoCardImageContainer">
                        <img src="../static/img/10.jpg" alt="Photo" class="photoCardImage">
                    </div>
                    <div class="photoCardDescriptionContainer">
                        <p class="photoCardDescriptionText"></p>
                    </div>
                </div>
                <div class="photoCardTemplateDiv">
                    <div class="photoCardImageContainer">
                        <img src="../static/img/10.jpg" alt="Photo" class="photoCardImage">
                    </div>
                    <div class="photoCardDescriptionContainer">
                        <p class="photoCardDescriptionText"></p>
                    </div>
                </div>
            </section>
        </section>
        {% endblock %}