*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(102, 100, 100);
}
header{
    background-color: rgb(41, 41, 41);
    color: white;
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    align-items: center;
}
header h1{
    font-size: 30px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}
header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
header ul li{
    cursor: pointer;
    font-size: 25px;
    /* background-color:rgb(129, 113, 113); */
    border-right: solid 1px  white;
    border-left: solid 1px  white;
    padding:3px 10px;
}
header ul li:hover{
    background-color: rgb(129, 113, 113);
}
header ul li a{
    text-decoration: none;
    color: white;
}
/* index ---------------------------------------------------------------*/
.banner {
  background-image: url('../static/img/banner.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
  color: white;
}
.banner .banner-content {
  background-color: rgba(0,0,0,0.5);
  padding: 100px;
  text-align: center;
}

main{
    padding-top: 80px;
    background-color: rgb(102, 100, 100);
}
.gallery{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(102, 100, 100);
    color: white;
}
.galleryContainer{
    width: 90%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.photoCardTemplateDiv{
    width: 300px;
    height: 400px;
    border: solid 1px black;
    margin: 20px;
    display: inline-block;
    vertical-align: top;
    margin: 20px 50px;
    background-color: white;
    color: black;
}
.photoCardTemplateDiv .photoCardImageContainer{
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.photoCardTemplateDiv .photoCardImageContainer .photoCardImage{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* register ------------------------------------------------------*/
.register{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(102, 100, 100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* login -------------------------------------------------- */
.login{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(102, 100, 100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* add-item -------------------------------------------------*/
.addItemFormSection{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(102, 100, 100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.addItemForm{
    width: 50%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.addItemForm label{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.formGroup{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

